# Nextflow
figures/
.nextflow/
.nextflow.log*
work/
trace.txt
report.html
timeline.html
dag.dot
data/
data/**/*.bam
data/**/*.bai
results/
.vscode

# Params / secrets
*.local.config

# macOS
.DS_Store


