// Configs
includeConfig 'config/pipeline.info.config'
includeConfig 'config/base.config'

// Disable conda globally (overridden by -profile conda)
conda.enabled = false

// Parameters (default)
params {

    // Input CSVs
    heart_csv    = null
    placenta_csv = null

    // BAM folder (contains heart/ and placenta/ subdirectories)
    bam_folder   = null

    // Reference
    ref               = null
    germline_resource = null

    // Output
    output_folder = null

    // Scatter
    scatter_count = 50

    // Filter parameters (default workflow)
    ad_placenta_max   = 1000
    ad_heart_min      = 3
    dp_min            = 10
    af_heart_max      = 0.75
    mmq_min           = 20
    mbq_min           = 20
    sb_pval_min       = 0.001
    mpos_min          = 5
    alt2_ad_ratio_max = 0.2
    orientation_max   = 0.95
    orientation_min   = 0.05

    // forcecall entrypoint
    sites               = null    // TSV with header: CHROM POS REF ALT
    sites_scatter_count = 20
    min_mq_forcecall    = 20
    min_bq_forcecall    = 20

}


//
