// Configs
includeConfig 'config/pipeline.info.config'
includeConfig 'config/base.config'

// Disable conda globally (overridden by -profile conda)
conda.enabled = false

// Parameters (default)
params {

    // Input CSVs
    heart_csv    = null
    placenta_csv = null

    // BAM folder (contains heart/ and placenta/ subdirectories)
    bam_folder   = null

    // Reference
    ref               = null
    germline_resource = null

    // Output
    output_folder = null

}


//
