// base.config


// Profiles
profiles {

  docker {

    conda.enabled       = false
    docker.enabled      = true
    singularity.enabled = false

    // process {
    //   withName: 'INDEX_BAM|REHEADER_BAM|MUTECT2' {
    //     container = 'broadinstitute/gatk:4.6.0.0'
    //   }
    // }

  }

  singularity {

    conda.enabled       = false
    docker.enabled      = false
    singularity.enabled = true

    // process {
    //   withName: 'INDEX_BAM|REHEADER_BAM|MUTECT2' {
    //     container = 'broadinstitute/gatk:4.6.0.0'
    //   }
    // }

  }

  conda {

    conda.enabled       = true
    docker.enabled      = false
    singularity.enabled = false

  }

  local {
    process.executor = 'local'
  }

  lsf {

    process {
      executor = 'lsf'
      queue    = 'normal'
      withName: MUTECT2              { array = 50; clusterOptions = '-o /dev/null' }
      withName: FILTER_MUTS          { array = 50; clusterOptions = '-o /dev/null' }
      withName: MPILEUP_FORCECALL    { array = 50; clusterOptions = '-o /dev/null' }
      withName: PARSE_PILEUP         { array = 50; clusterOptions = '-o /dev/null' }
    }

    executor {
      queueSize       = 2000
      pollInterval    = '60 sec'
      submitRateLimit = '1/1min'
      perJobMemLimit  = true
    }

  }

}


//


// Processes
process {

  withName: INDEX_BAM {
    cpus   = 2
    memory = { 4.GB * task.attempt }
  }

  withName: REHEADER_BAM {
    cpus   = 2
    memory = { 4.GB * task.attempt }
  }

  withName: CREATE_INTERVALS {
    cpus   = 1
    memory = { 4.GB * task.attempt }
  }

  withName: MUTECT2 {
    cpus   = 4
    memory = { 8.GB * task.attempt }
  }

  withName: FILTER_MUTS {
    cpus   = 1
    memory = { 4.GB * task.attempt }
  }

  withName: GATHER_TABLE {
    cpus   = 1
    memory = { 8.GB * task.attempt }
  }

  withName: GATHER_STATS {
    cpus   = 1
    memory = { 4.GB * task.attempt }
  }

  withName: COMPUTE_3NT_CTX {
    cpus   = 8
    memory = { 8.GB * task.attempt }
  }

  withName: PREP_SITES {
    cpus   = 1
    memory = { 2.GB * task.attempt }
  }

  withName: CHUNK_SITES {
    cpus   = 1
    memory = { 2.GB * task.attempt }
  }

  withName: MPILEUP_FORCECALL {
    cpus   = 2
    memory = { 4.GB * task.attempt }
  }

  withName: PARSE_PILEUP {
    cpus   = 1
    memory = { 2.GB * task.attempt }
  }

  withName: GATHER_ALLELIC_TABLE {
    cpus   = 1
    memory = { 8.GB * task.attempt }
  }

}

// Tracing
trace {
  enabled   = true
  file      = "trace.txt"
  overwrite = true
}

// Tower
tower {
  enabled = true
}


//
