// base.config


// Profiles
profiles {

  docker {

    conda.enabled       = false
    docker.enabled      = true
    singularity.enabled = false

    // process {
    //   withName: 'INDEX_BAM|MERGE_BAM|MUTECT2' {
    //     container = 'broadinstitute/gatk:4.6.0.0'
    //   }
    // }

  }

  singularity {

    conda.enabled       = false
    docker.enabled      = false
    singularity.enabled = true

    // process {
    //   withName: 'INDEX_BAM|MERGE_BAM|MUTECT2' {
    //     container = 'broadinstitute/gatk:4.6.0.0'
    //   }
    // }

  }

  conda {

    conda.enabled       = true
    docker.enabled      = false
    singularity.enabled = false

  }

  local {
    process.executor = 'local'
  }

  lsf {

    process {
      executor = 'lsf'
      queue    = 'normal'
      withName: MUTECT2 { array = 20; clusterOptions = '-o /dev/null' }
    }

    executor {
      queueSize      = 100
      pollInterval   = '10 sec'
      perJobMemLimit = true
    }

  }

}


//


// Processes
process {

  withName: INDEX_BAM {
    cpus   = 2
    memory = { 4.GB * task.attempt }
  }

  withName: MERGE_BAM {
    cpus   = 8
    memory = { 16.GB * task.attempt }
  }

  withName: MUTECT2 {
    cpus   = 4
    memory = { 16.GB * task.attempt }
  }

}

// Tracing
trace {
  enabled   = true
  file      = "trace.txt"
  overwrite = true
}

// Tower
tower {
  enabled = true
}


//
