// user.config

def ENV          = System.getenv()
def SCRATCH_ROOT = ENV.get('NXF_SCRATCH') ?: ENV.get('APPTAINER_TMPDIR') ?: ENV.get('TMPDIR') ?: '/tmp'
def SIF_CACHE    = ENV.get('APPTAINER_CACHEDIR') ?: "${ENV.get('HOME')}/.cache/apptainer"

// Global process settings
process {

  scratch       = false
  errorStrategy = 'retry'
  maxRetries    = 3

  beforeScript = """
    mkdir -p ${SCRATCH_ROOT}/tmp \\
             ${SCRATCH_ROOT}/xdg
  """
  environment = [
    'TMPDIR': "${SCRATCH_ROOT}/tmp",
    'TMP':    "${SCRATCH_ROOT}/tmp",
    'TEMP':   "${SCRATCH_ROOT}/tmp",
  ]

}

// Profile-specific
// profiles {
// 
// }


//
