// user.config

def ENV          = System.getenv()
def SCRATCH_ROOT = ENV.get('NXF_SCRATCH') ?: ENV.get('APPTAINER_TMPDIR') ?: ENV.get('TMPDIR') ?: '/tmp'
def SIF_CACHE    = ENV.get('APPTAINER_CACHEDIR') ?: "${ENV.get('HOME')}/.cache/apptainer"

// Global process settings
process {

  scratch       = true
  errorStrategy = 'retry'
  maxRetries    = 3

  beforeScript = """
    mkdir -p ${SCRATCH_ROOT}/tmp \\
             ${SCRATCH_ROOT}/xdg
  """
  environment = [
    'TMPDIR': "${SCRATCH_ROOT}/tmp",
    'TMP':    "${SCRATCH_ROOT}/tmp",
    'TEMP':   "${SCRATCH_ROOT}/tmp",
  ]

}

// Profile-specific
profiles {

  apptainer {
    runOptions   = "-B ${SCRATCH_ROOT}:${SCRATCH_ROOT} -B /dev/shm:/dev/shm"
    cacheDir     = SIF_CACHE
    envWhitelist = 'TMPDIR,TMP,TEMP'
  }

  slurm {
    process.executor = 'slurm'
    executor {
      exitReadTimeout = '1000 sec'
      queueSize       = 200
      submitRateLimit = '1 sec'
    }
  }

}


//
